body>.container-fluid,
body>.container 
{
    padding-top: 60px;
}

.index
{
    width: 15px;
}

.center
{
    text-align: center;
}

ul.no-puce
{
    margin: 0;
    list-style: none;
}
/** FORMS
-------------------------------------------------------------------------- */
form fieldset.options
{
    display:none;
}

/** TABS
-------------------------------------------------------------------------- */
div.tab-content
{
    overflow: visible;
}

/** TABLE
-------------------------------------------------------------------------- */
table .biais-thead
{
    /*line-height: 125px;*/
}

table .biais-thead>span
{
    bottom: 0;
    display: block;
    /*Firefox*/
    -moz-transform: rotate(-80deg);
    /*Safari*/
    -webkit-transform: rotate(-80deg);
    /*Opera*/
    -o-transform: rotate(-80deg);
    /*IE*/
    writing-mode: tb-rl;
    filter: flipv fliph;
}

table .help-block
{
    padding-top: 10px;
    text-align: center;
}

table td.name
{
    position: relative;
    min-width: 200px;
}

table th.center,
table td.center
{
    text-align: center;
}

table .credit
{
    list-style: none;
    margin: 0;
}

table .credit>li
{
    display: inline;
}

table .name .module-tools
{  
    position: absolute;
    bottom: 5px;    
}

table .credit>li.sperator { }